<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de Formulários</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/7eb844cc65.js" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
</head>
<style>
    .esconder{
        display: none;
    }

    .ajustar-checkbox{
        margin-left: 15px;
    }

    .ajustes-imagens:hover{
        background-color: #000000;
        opacity: 0.5;
    }
</style>
<body>    
    <div class="container-fluid">
        <h3 class="text-center mt-5 mb-5">Gerador de Formulários - Projeto em VueJs</h3>
        <div id="app">
            <div class="row">
                <div class="col-md-4 mb-4">
                    <h5>Adicionar Campo de Texto</h5><hr class="mt-1">
                    <div class="row">
                        <b-form-group class="col-12" label="Texto da Label:" label-for="str_texto_label">
                            <b-form-input id="str_texto_label" name="str_texto_label" required></b-form-input>
                        </b-form-group>

                        <b-form-group class="col-12" label="Texto do Placeholder:" label-for="str_texto_placeholder">
                            <b-form-input id="str_texto_placeholder" name="str_texto_placeholder" required></b-form-input>
                        </b-form-group>

                        <b-form-group class="col-md-6" label="Nome do Campo:" label-for="str_nome_campo">
                            <b-form-input id="str_nome_campo" name="str_nome_campo" required></b-form-input>
                        </b-form-group>

                        <b-form-group class="col-md-6" label="ID do Campo:" label-for="str_id_campo">
                            <b-form-input id="str_id_campo" name="str_id_campo" required></b-form-input>
                        </b-form-group>

                        <b-form-checkbox class="col-12 ajustar-checkbox" v-model="bool_mask" id="bool_campo_com_mask" name="bool_campo_com_mask" value="1" unchecked-value="0">
                            Campo com Máscara de Telefone
                        </b-form-checkbox>

                        <div class="col-12 text-center mt-3">
                            <b-button type="button" @click="addInput" variant="info" size="sm"><i class="fas fa-plus"></i> Adicionar Campo de Texto</b-button>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 mb-4">
                    <h5>Adicionar Botão</h5><hr class="mt-1">
                    <div class="row">
                        <b-form-group class="col-12" label="Texto do Botão:" label-for="str_texto_botao">
                            <b-form-input id="str_texto_botao" name="str_texto_botao" required></b-form-input>
                        </b-form-group>

                        <b-form-group class="col-md-6" label="Cor do Botão:" label-for="str_cor_botao">
                            <b-form-input type="color" id="str_cor_botao" name="str_cor_botao" required></b-form-input>
                        </b-form-group>

                        <b-form-group class="col-md-6" label="Cor do Texto Botão:" label-for="str_cor_texto_botao">
                            <b-form-input type="color" id="str_cor_texto_botao" name="str_cor_texto_botao" required></b-form-input>
                        </b-form-group>

                        <b-form-group class="col-md-6" label="Nome do Botão:" label-for="str_nome_botao">
                            <b-form-input id="str_nome_botao" name="str_nome_botao" required></b-form-input>
                        </b-form-group>

                        <b-form-group class="col-md-6" label="ID do Botão:" label-for="str_id_botao">
                            <b-form-input id="str_id_botao" name="str_id_botao" required></b-form-input>
                        </b-form-group>

                        <b-form-group class="col-12" label="Tipo do Botão">
                            <b-form-radio name="some-radios" v-model="exibirLink" value="submit">Botão para Exibir os Dados do Formulário</b-form-radio>
                            <b-form-radio name="some-radios" v-model="exibirLink" value="link">Botão de Link Externo</b-form-radio>
                        </b-form-group>

                        <b-form-group v-show="exibirLink === 'link'" class="col-12" label="Link do Botão:" label-for="str_link_botao">
                            <b-form-input id="str_link_botao" name="str_link_botao" required></b-form-input>
                        </b-form-group>

                        <div class="col-12 text-center">
                            <b-button type="button" @click="addButton" variant="info" size="sm"><i class="fas fa-plus"></i> Adicionar Botão</b-button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <h5>Adicionar Imagem</h5><hr class="mt-1">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <b-img class="ajustes-imagens" @click="aplicarImagem" id="img1" center rounded width="130%" height="130%" src="imagens/imagem1.jpg" alt="Center image"></b-img>
                        </div>
                        <div class="col-md-6 mb-3">
                            <b-img class="ajustes-imagens" @click="aplicarImagem" id="img2" center rounded width="130%" height="130%" src="imagens/imagem2.jpg" alt="Center image"></b-img>
                        </div>
                        <div class="col-md-6 mb-3">
                            <b-img class="ajustes-imagens" @click="aplicarImagem" id="img3" center rounded width="130%" height="130%" src="imagens/imagem3.jpg" alt="Center image"></b-img>
                        </div>
                        <div class="col-md-6 mb-3">
                            <b-img class="ajustes-imagens" @click="aplicarImagem" id="img4" center rounded width="130%" height="130%" src="imagens/imagem4.jpg" alt="Center image"></b-img>
                        </div>
                        <div class="col-12 text-center mt-3">
                            <b-button type="button" variant="info" size="sm"><i class="fas fa-plus"></i> Adicionar Imagem</b-button>
                        </div>
                    </div>
                </div>

                <div class="col-12 mt-4">
                    <h5>Formulário Gerado</h5><hr class="mt-1">
                    <b-form id="form_gerado" @submit="onSubmit" @reset="onReset">
                        <div class="row" :style="{'background-image': 'url('+imagem+')'}">
                            <div class="col-md-6 col-lg-4" v-for="(input, index) in form.inputs">
                                <div class="row">
                                    <b-form-group class="col-10" :label="input.label" label-for="input.name">
                                        <b-form-input required v-mask="'(##) #####-####'" v-if="input.tem_mascara == 1" :placeholder="input.placeHolder" :name="input.name" :id="input.id"></b-form-input>
                                        <b-form-input required v-if="input.tem_mascara == 0" :placeholder="input.placeHolder" :name="input.name" :id="input.id"></b-form-input>
                                    </b-form-group>
                                    <div class="col-2" style="margin-top: auto; margin-bottom: auto;">
                                        <b-button type="reset" size="sm" @click="deleteRow(index)" variant="danger">Excluir</b-button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 text-center" >
                                <template v-for="(button, index) in form.buttons">
                                    <b-button target="_blank" style="margin: 5px;" :style="{'background-color': button.cor, 'color': button.cor_texto}" v-if="button.tipo === 'link'" :name="button.name" :id="button.id" :href="button.link">{{ button.texto }}</b-button>
                                    <b-button v-else type="submit" :name="button.name" :id="button.id" :style="{'background-color': button.cor, 'color': button.cor_texto}">{{ button.texto }}</b-button>
                                </template>
                            </div>
                        </div>
                    </b-form>
                    
                    <b-card class="mt-3" v-show="exibirValoresForm" header="Valores dos Campos do Formulário">
                        <pre class="m-0" id="div_dados_form"></pre>
                    </b-card>
                </div>
            </div>
        </div>
    </div>
</body>
    <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
    <script src="vue-the-mask.js"></script>
    <script src="app.js"></script>
    <script src="Input.js"></script>
    <script src="Button.js"></script>
</html>